backend/gradle/
backend/build/
patches/
frontend/.gradle/
frontend/dist/
frontend/node_modules/
frontend/.travis.yml
frontend/appveyor.yml
mongoDB/
.gradle/
.idea/
.git
docker-compose.yml
npm-debug.log
LICENSE
VERSION
README.md
TODO.md
