/backend/gradle/
/backend/build/

/db/Dockerfile

/frontend/.gradle/
/frontend/dist/
/frontend/node_modules/
/frontend/.travis.yml
/frontend/appveyor.yml

/.gradle/
/.idea/
/.git

/npm-debug.log
/Dockerfile
/docker-compose.yml
/LICENSE
/VERSION
/README.md
/TODO.md
