db/Dockerfile

backend/build/
backend/Dockerfile
backend/gradlew.bat

frontend/dist/
frontend/node_modules/
frontend/Dockerfile

.gradle/
.idea/
.git
npm-debug.log
LICENSE
VERSION
README.md
TODO.md